{{- if and .Values.ui.enabled .Values.ui.podDisruptionBudget.enabled }}
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: {{ include "amazon-watcher-stack.fullname" . }}-ui
  labels:
    {{- include "amazon-watcher-stack.labels" . | nindent 4 }}
    app.kubernetes.io/component: ui
  {{- if .Values.argocd.annotations }}
  annotations:
    {{- include "amazon-watcher-stack.argocd.annotations" . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.ui.podDisruptionBudget.minAvailable }}
  minAvailable: {{ .Values.ui.podDisruptionBudget.minAvailable }}
  {{- end }}
  {{- if .Values.ui.podDisruptionBudget.maxUnavailable }}
  maxUnavailable: {{ .Values.ui.podDisruptionBudget.maxUnavailable }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "amazon-watcher-stack.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: ui
{{- end }}
