apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "chart-name" . }}-mariadb
spec:
  replicas: {{ .Values.replicas.mariadb }}
  selector:
    matchLabels:
      app: {{ include "chart-name" . }}-mariadb
  template:
    metadata:
      labels:
        app: {{ include "chart-name" . }}-mariadb
      {{- if .Values.images.mariadb.buildDate }}
      annotations:
        image.buildDate: {{ .Values.images.mariadb.buildDate | quote }}
        image: {{ printf "%s:%s" .Values.images.mariadb.repository .Values.images.mariadb.tag | quote }}
      {{- end }}
    spec:
      containers:
        - name: {{ include "chart-name" . }}-mariadb
          image: "{{ .Values.images.mariadb.repository }}:{{ .Values.images.mariadb.tag }}"
          imagePullPolicy: {{ .Values.images.mariadb.pullPolicy }}
          env:
            - name: MARIADB_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "chart-name" . }}-db-secret
                  key: MARIADB_ROOT_PASSWORD
            - name: MARIADB_DATABASE
              valueFrom:
                secretKeyRef:
                  name: {{ include "chart-name" . }}-db-secret
                  key: MARIADB_DATABASE
            - name: MARIADB_USER
              valueFrom:
                secretKeyRef:
                  name: {{ include "chart-name" . }}-db-secret
                  key: MARIADB_USER
            - name: MARIADB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "chart-name" . }}-db-secret
                  key: MARIADB_PASSWORD
          resources:
            limits:
              memory: {{ .Values.resources.zabbixDB.limits.memory }}
              cpu: {{ .Values.resources.zabbixDB.limits.cpu }}
            requests:
              memory: {{ .Values.resources.zabbixDB.requests.memory }}
              cpu: {{ .Values.resources.zabbixDB.requests.cpu }}
          volumeMounts:
            - name: mariadb-storage
              mountPath: /var/lib/mysql
      volumes:
        - name: mariadb-storage
          persistentVolumeClaim:
            claimName: {{ include "chart-name" . }}-mariadb-pvc