apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ include "chart-name" . }}-mariadb-pv
spec:
  {{- if .Values.storage.storageClass }}
  storageClassName: {{ .Values.storage.storageClass }}
  {{- else if (lookup "storage.k8s.io/v1" "StorageClass" "" "local-path") }}
  storageClassName: local-path
  {{- else }}
  storageClassName: ""
  {{- end }}
  capacity:
    storage: {{ .Values.storage.mariadb.size }}
  accessModes:
    - {{ .Values.storage.mariadb.accessModes | first }}
  persistentVolumeReclaimPolicy: Delete
  hostPath:
    #path: {{ .Values.storage.mariadb.hostPath }}
    path: "/data/mariadb_zabbix_{{ .Release.Namespace }}_{{ .Release.Name }}"
    type: DirectoryOrCreate